
#map {
    height: 90vh; /* 90% of the viewport height */
}

body {
  font-family: 'Courier New', monospace;
  background: #000000;
  color: 	white;
  text-align: left;
  letter-spacing: 1px;
  padding-top: 20px;
	padding-right: 60px;
	padding-left: 60px;
  }

h1 { 
  color: white;
	text-align: right;
	font-size: 40px;
	letter-spacing: 1px;
}
h2 { 
  color: black;
	text-align: left;
	font-size: 20px;
	letter-spacing: 1px;
}
